<a href="https://colab.research.google.com/github/Oscar19922017/IntroduccionPython2023_2/blob/main/IntroduccionPython2023_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1) Introducción a Python**

Python es un lenguaje de programación de alto nivel, interpretado, interactivo y orientado a objetos. Fue creado por Guido van Rossum y su primera versión fue lanzada en 1991. Python es conocido por su simplicidad y legibilidad, lo que facilita el aprendizaje y la escritura de código. Se utiliza ampliamente en diversas áreas, como desarrollo web, análisis de datos, inteligencia artificial, automatización, desarrollo de videojuegos y muchas otras aplicaciones

Python se ha utilizado en la creación de muchas aplicaciones y sitios web populares debido a su versatilidad y facilidad de uso. Algunos ejemplos notables incluyen:

* Instagram
* Spotify
* Youtube
* Dropbox
* Reddit
* Pinterest

# **2) Python para Ciencia de Datos**

Según lo revelado por los resultados de una encuesta realizada por Kaggle una plataforna de científicos de datos, Python es el más usado en cuanto a lenguaje de programación, seguido de SQL y R para el tema de ciencia de Datos

Python es uno de los lenguajes de programación más populares y versátiles utilizados en la ciencia de datos. Gracias a su simplicidad y a su amplia variedad de bibliotecas especializadas, Python se ha convertido en una herramienta esencial para científicos de datos, analistas y desarrolladores de todo el mundo.

A continuación se presentan algunas bibliotecas y herramientas clave de Python para la ciencia de datos:

* NumPy: Biblioteca de Python para realizar operaciones matemáticas y de álgebra lineal con arreglos multidimensionales y funciones matriciales.
* Pandas: Biblioteca para la manipulación y análisis de datos que proporciona estructuras de datos como DataFrames y Series, que facilitan el trabajo con datos estructurados.
* Matplotlib: Biblioteca para la creación de gráficos y visualizaciones en 2D y 3D, permitiendo la representación de datos de manera efectiva y personalizada.
* seaborn: Basada en Matplotlib, seaborn es una biblioteca de visualización de datos estadísticos que proporciona una interfaz de alto nivel para crear gráficos informativos y atractivos.
* scikit-learn: Biblioteca de aprendizaje automático (machine learning) que incluye herramientas para clasificación, regresión, clustering, reducción de dimensionalidad, selección de modelos y preprocesamiento de datos.

* PyCaret es una biblioteca de Python diseñada para facilitar y agilizar el proceso de construcción, entrenamiento, evaluación y ajuste de modelos de aprendizaje automático. PyCaret proporciona una interfaz de alto nivel que simplifica muchas de las tareas comunes asociadas con la construcción de modelos, lo que permite a los científicos de datos e ingenieros centrarse más en la toma de decisiones y en la experimentación con diferentes enfoques de modelado.

# **3) Fundamentos de Programación en Python**

## **3.1) Usando Python como Calculadora**

In [41]:
# sumar
9+6

15

In [42]:
print(6+9)

15

In [43]:
# Restar
9-6

3

In [44]:
# Dividir
8/2

4.0

In [45]:
# Multiplicar
9*5

45

In [46]:
# Potencia
5**2

25

## **3.2) Sintaxis y Extructuras Básicas de Python**
* Variables y tipo de datos
* Operadores
* Control de Flujo

### **3.2.1) Variables**
¿Que es una Variable?

"En programación, una variable está formada por un espacio en el sistema de almacenaje (memoria principal de un ordenador) y un nombre simbólico (un identificador) que está asociado a dicho espacio. Ese espacio contiene una cantidad de información conocida o desconocida, es decir un valor. El nombre de la variable es la forma usual de referirse al valor almacenado"

In [47]:
## Variables Númericas
EdadCliente=30

In [48]:
type(EdadCliente)

int

In [49]:
Salario=2500000

In [50]:
Salario=500000

In [51]:
print(Salario)

500000

In [52]:
## Variable Decimal

In [53]:
Pi=3.14

In [54]:
type(Pi)

float

In [55]:
## Int a Float
Salario_Decimal=float(Salario)

In [56]:
print(Salario_Decimal)

500000.0

In [57]:
## Float a un Int
Pi_Int=int(Pi)
print(Pi_Int)

3

In [58]:
EdadCliente*5

150

In [59]:
EdadCliente/2

15.0

In [60]:
## Texto, "", ''
Estudiante="Luz"

In [61]:
type(Estudiante)

str

In [62]:
Apellido="Gomez"

In [63]:
NombreCompleto=Estudiante +"-" + Apellido

In [64]:
NombreCompleto

'Luz-Gomez'

In [65]:
NombreCompleto*10

'Luz-GomezLuz-GomezLuz-GomezLuz-GomezLuz-GomezLuz-GomezLuz-GomezLuz-GomezLuz-GomezLuz-Gomez'

In [66]:
## Acceder a la información str, indexación, Inicia conatr posiciones desde cero
NombreCompleto[0]

'L'

In [67]:
NombreCompleto[1]

'u'

In [68]:
NombreCompleto[-1]

'z'

In [69]:
NombreCompleto[-2]

'e'

In [70]:
NombreCompleto[-3]

'm'

In [71]:
## Separarlo
NombreCompleto.split("-")

['Luz', 'Gomez']

### **3.2.2) Extructuras de Datos**

Las estructuras de datos más comunes en Python son las listas, las tablas y los diccionarios

#### **3.2.2.1) Listas**

Una lista en Python es una estructura de datos formada por una secuencia ordenada de objetos

In [72]:
# Lista se crear []
Lista_Edad=[]

In [73]:
Lista_Edad

[]

In [74]:
Lista_Edad=[62,25,35,45,25,18,49,37,85,100]

In [75]:
print(Lista_Edad)

[62, 25, 35, 45, 25, 18, 49, 37, 85, 100]

In [76]:
## Conocer el numero de elementos
print(len(Lista_Edad))

10

In [81]:
## Acceder a la información, como indexación (posición), incia a contar desde cero

In [82]:
print(Lista_Edad[1])

25

In [83]:
print(Lista_Edad[0])

62

In [84]:
## Aceder al ultimo dato con -1
print(Lista_Edad[-1])

100

In [85]:
print(Lista_Edad[-2])

85

In [86]:
print(Lista_Edad[-3])

37

In [100]:
## Secuencia
print(Lista_Edad[0:2]) #  revisar indexación no continua

[62, 25]

In [101]:
## Agregar Datos Nuevos (Append, agrega al final)

In [102]:
Lista_Edad.append(17)

In [103]:
print(Lista_Edad)

[62, 25, 35, 45, 25, 18, 49, 37, 85, 100, 17, 17]

In [104]:
len(Lista_Edad) #

12

In [106]:
Lista_Edad[0::2]

[62, 35, 25, 49, 85, 17]

In [107]:
## Agregar datos por posición con insert
Lista_Edad.insert(0,80)

In [108]:
Lista_Edad

[80, 62, 25, 35, 45, 25, 18, 49, 37, 85, 100, 17, 17]

**Solicitar información al usuario**

In [109]:
Nombre=input("Ingrese su nombre please")

Ingrese su nombre pleaseOscar

In [110]:
Nombre

'Oscar'

In [111]:
Edad=input("Ingrese su Edad please")

Ingrese su Edad please30

In [112]:
Edad

'30'

**Ejercicio**

Ejercicio 1: Encuentre el área de un triángulo rectángulo isósceles a partir de la longitud de sus catetos, ingresados por el usuario. Recuerde que un triángulo isósceles tiene dos lados iguales y que el área de un triángulo está dada por: (base * altura)/2

In [118]:
# los input siempre son cades string
base=int(input("Ingrese la base del triangulo"))
altura=int(input("Ingrese la altura del triangulo"))
Area= (base*altura)/2
print(f'El area del trinagulo es {Area}')

Ingrese la base del triangulo25
Ingrese la altura del triangulo9
El area del trinagulo es 112.5

In [121]:
print(f'El area es : {Area}')

El area es : 112.5

Ejercicio2: Pedir al usuario 5 numeros y mostrarlos en lista

In [123]:
numero1=int(input("ingrese el 1er numero "))
numero2=int(input("ingrese el 2do numero "))
numero3=int(input("ingrese el 3er numero "))
numero4=int(input("ingrese el 4to numero "))
numero5=int(input("ingrese el 5to numero "))
Lista=[numero1,numero2,numero3,numero4,numero5]
print(Lista)

ingrese el 1er numero 1
ingrese el 2do numero 2
ingrese el 3er numero 3
ingrese el 4to numero 4
ingrese el 5to numero 5
[1, 2, 3, 4, 5]

In [125]:
Lista_Mixta=["Juan",23,[1,2,3]]

In [128]:
Lista_Mixta[-1][0]

1

In [129]:
Lista_Mixta[0]

'Juan'

#### **3.2.2.2) Diccionarios**

En Python, un diccionario es una estructura de datos que permite almacenar pares clave-valor. Cada elemento en un diccionario se compone de una clave y un valor asociado. Las claves en un diccionario deben ser únicas y los valores pueden ser cualquier objeto de Python, como números, cadenas, listas o incluso otros diccionarios.

Los diccionarios en Python se crean utilizando llaves ({}) y los elementos se separan por comas. Cada elemento se compone de una clave y un valor separados por dos puntos (:). Por ejemplo, el siguiente código crea un diccionario con tres elementos:

In [130]:
PreciosFrutas={"Manzana":9000,"banana":500,"naranja":3500}

In [131]:
PreciosFrutas

{'Manzana': 9000, 'banana': 500, 'naranja': 3500}

In [132]:
PreciosFrutas.keys()

dict_keys(['Manzana', 'banana', 'naranja'])

In [133]:
PreciosFrutas.values()

dict_values([9000, 500, 3500])

In [134]:
## Acceder a la información

In [135]:
PreciosFrutas.get("banana")

500

In [136]:
PreciosFrutas["Manzana"]

9000

In [138]:
#PreciosFrutas[0]

In [139]:
# Listas y diccionarios
DiccionariosEstudiantes={"Piedad":["Python","ML","SLQ","Inferencia Causal"],
                         "Daniel":["Fisica","ML","Series Tiempo"]}

In [140]:
DiccionariosEstudiantes.get("Daniel")

['Fisica', 'ML', 'Series Tiempo']

In [141]:
DiccionariosEstudiantes["Daniel"]

['Fisica', 'ML', 'Series Tiempo']

In [143]:
DiccionariosEstudiantes.keys()

dict_keys(['Piedad', 'Daniel'])

In [144]:
DiccionariosEstudiantes["Daniel"][-1]

'Series Tiempo'

In [145]:
Lista_Edad

[80, 62, 25, 35, 45, 25, 18, 49, 37, 85, 100, 17, 17]

# 4) **Extructuras de Pandas**

Pandas: Biblioteca para la manipulación y análisis de datos que proporciona estructuras de datos como DataFrames y Series, que facilitan el trabajo con datos estructurados.

In [147]:
#!pip install pandas

In [148]:
#conda install pandas

In [149]:
# Importar Librerias
import pandas

In [150]:
## Importación con alias o de firma indirecta
import pandas as pd

## **4.1) Series Pandas**

En Pandas, una serie es un objeto unidimensional que se utiliza para almacenar datos etiquetados. Las series son similares a las listas o arrays de NumPy, pero tienen la capacidad adicional de asignar etiquetas a los datos, lo que permite un acceso más rápido y fácil a los datos almacenados.

In [151]:
Lista_Edad

[80, 62, 25, 35, 45, 25, 18, 49, 37, 85, 100, 17, 17]

In [154]:
SerieEdad=pd.Series(Lista_Edad) # Una lista a una serie

In [155]:
print(SerieEdad)

0      80
1      62
2      25
3      35
4      45
5      25
6      18
7      49
8      37
9      85
10    100
11     17
12     17
dtype: int64

In [156]:
## Diccionario a una serie

In [157]:
PreciosFrutas

{'Manzana': 9000, 'banana': 500, 'naranja': 3500}

In [158]:
SeriePreciosFrutas=pd.Series(PreciosFrutas)

In [159]:
SeriePreciosFrutas

Manzana    9000
banana      500
naranja    3500
dtype: int64

In [160]:
SeriePreciosFrutas["Manzana"]

9000

In [163]:
SeriePreciosFrutas[0]

9000

## **4.2)DataFrame en Python (Tablas filas y columnas)**

En Python, un DataFrame es una estructura de datos bidimensional, similar a una hoja de cálculo o una tabla de base de datos, que se utiliza para almacenar y manipular datos. Los DataFrames se utilizan comúnmente en el análisis de datos y la ciencia de datos, ya que permiten organizar y manipular grandes cantidades de datos de manera eficiente.

In [166]:
Nombre=["Ana","Pedro","Julian","Maria","Ricardo"]
Edad=[25,36,38,22,50]
Salario=[3000000,5000000,3600000,100000000,1500000]
Cargo=["Analista Contable","Desarrollador","Analista BI","Influencer","Operario"]
Producto=["TC Plata","TC ORO","TC Plata","TC VIP","TC Normal"]

In [167]:
BaseDatos=pd.DataFrame({"Nombre":Nombre,
                        "Edad":Edad,
                        "Salario":Salario,
                        "Cargo":Cargo,
                        "Producto":Producto})

In [170]:
BaseDatos

    Nombre  Edad    Salario              Cargo   Producto
0      Ana    25    3000000  Analista Contable   TC Plata
1    Pedro    36    5000000      Desarrollador     TC ORO
2   Julian    38    3600000        Analista BI   TC Plata
3    Maria    22  100000000         Influencer     TC VIP
4  Ricardo    50    1500000           Operario  TC Normal

# **Exportar BD**

In [171]:
## Excel, ruta de trabjo
BaseDatos.to_excel("/content/drive/MyDrive/Diplomado_2023_2/Introduccion Python/bd_clientes.xlsx",index=False)

In [172]:
## csv, ruta de trabjo
BaseDatos.to_csv("/content/drive/MyDrive/Diplomado_2023_2/Introduccion Python/bd_clientes.csv",index=False)